@use '@gear-js/ui/mixins' as *; '@gear-js/ui/mixins' as *; @use '@/共享/资产/样式/共享' as *; as *;
@use '@/共享/资产/样式/共享'作为 *;'@/共享/资产/样式/共享'作为 *;
@use '@/共享/资产/样式/混合'相对的
@use '@/共享/资产/样式/变量'作为 *;
@use '@/共享/资产/样式/动画'作为 *;

。地平线​​ntalCodeCard {
  @include过渡(background-color);

展示: 弯曲;
位置:相对的;
徘徊边界半径(16)；边界半径: 托雷姆(16);
背景颜色：$bgColor4；背景颜色：$bgColor4；

&:悬停{hover {
背景颜色: $gray100;
ㄓ
。内容::后 {
背景: 径向渐变(50% 50%在50% 50%, RGBA($成功颜色,0.45) 25%, RGBA(24, 24, 27, 0) 100%);
    }
  }
}

。内容 {
弯曲:1 1;
填充: 托雷姆(24);
溢出: 隐;
位置: 相对的;

&::后 {
内容:'';'';'';'';
位置: 绝对;
正确的:-40%;-40%;-40%;-40%;
底部：-100%；-100%；-100%;-100%；-100%；-100%;-100%；-100%；-100%;-100%；-100%；-100%;
宽度:100%;100%;100%;100%;
高度:200%;200%;200%;200%;
背景: 径向渐变(50% 50% at 50% 50%, RGBA($successColor, 0.23) 0%, RGBA(24, 24, 27, 0) 100%);50% 50% at 50% 50%, RGBA($successColor, 0.23) 0%, RGBA(24, 24, 27, 0) 100%);50% 50% at 50% 50%, RGBA($successColor, 0.23) 0%, RGBA(24, 24, 27, 0) 100%);50% 50% at 50% 50%, RGBA($successColor, 0.23) 0%, RGBA(24, 24, 27, 0) 100%);
  }

。关联 {
@包括过渡；@includetransition;包括过渡；@include过渡;

右边距: $margin;
边距底部: 10像素;10像素;10像素;10像素;

展示: 弯曲;
对齐项目: 中心;
差距:8像素;8像素;8像素;8像素;

位置: 相对的;
z 索引:1;1;1;1;

&:徘徊 {
不透明度:0.5;0.5;
    }
  }

。姓名 {
最大宽度:60%;60%;
溢出: 隐;
文本溢出: 省略;
字体大小：$fontSizeBig；
字体系列:'卡尼特';
字体粗细:600;
行高:1.3;
  }

  .otherInfo {
展示: 弯曲;
位置：相对；
  }

.codeIdz 索引.codeId {
z 索引：2；z 索引: 2;
底部边距：10像素；边距底部:10像素;
  }

.otherInfo {.otherInfo {
@include儿童保证金($margin, 右);@include儿童保证金($margin, 右);

z 索引：4；z 索引:4;
  }
}

.actions {
  @include childrenMargin(12px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.3 1;
  padding: toRem(12) toRem(24);
}

.cardLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
